# Ignore Files and directories that are not part of the source code
build/* linguist-vendored
node_modules/* linguist-vendored
example/* linguist-vendored
coverage/* linguist-vendored
dist/* linguist-vendored

# Ignore HTML files from language count
*.html linguist-documentation

# Treat .tsx as TypeScript
*.tsx linguist-language=TypeScript

# Ignore docs from language count
docs/* linguist-documentation
README.md linguist-documentation
